.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);

    .homeWrapper {
        color: #087F69;
        font-size: 42px;
        font-weight: 700;
    }
}