.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);

    .converterWrapper {
        width: 100%;
        max-width: 560px;
        padding: 20px;
        box-shadow: 0px 0px 4px #287B6C;
        background-color: #ffffff;
        border-radius: 12px;
        padding: 10px 20px;

        .title {
            font-size: 24px;
            color: #11182A;
            padding: 15px 0px;
            font-weight: 700;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            gap: 25px;
        }

        .submitButton {
            background: linear-gradient(180deg, #06836C 0%, #066251 100%);
            border-radius: 12px;
            padding: 10px 16px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover {
                background: linear-gradient(180deg, #60d1bc 0%, #266156 100%);
            }
        }

        .swapIcon {
            display: flex;
            justify-content: center;

            img {
                height: 24px;
                width: 24px;
                transform: rotate(90deg);
                cursor: pointer;
            }
        }

        .result {
            text-align: center;
            font-size: 18px;
            color: #11182A;

            .total {
                font-size: 24px;
                padding: 10px 0;
            }
        }
    }
}